/*
Global Styles
======================================
*/

*, *:before, *:after {
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
* {
    box-sizing: border-box;
}

html, body {
    font-family: 'Dosis', sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    width: 100%;
    font-size: 16px;
    color: #939598;
}
p {
    font-size: 19px;
    margin: 20px 0;
}

#logo {
    padding: 50px 20px;
}

#wrapper {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
}

#leftWrapper {
    display: inline-block;
    position: absolute;
    left: 0;
    margin: 0;
    padding: 0;
    width: 0px;
    height: 100%;
    background-color: #cc203c;
}

#listView {
    display: block;
    position: relative;
}

#listView li {
    display: block;
    list-style: none;
}

#listView li a {
    display: block;
    padding: 20px 50px;
    color: #fff;
    font-family: dosis;
    font-size: 26px;
    text-transform: lowercase;
    text-decoration: none;
    border-top: 1px solid #a81c21;
    -webkit-transition: all .20s ease;
    -moz-transition: all .20s ease;
    -o-transition: all .20s ease;
    transition: all .20s ease;
}
#listView li a:hover {
    background: #a81c21;
}
.list-item-active a {
    background: #a81c21;
    width: 100%; 
}

#rightWrapper {
    display: inline-block;
    position: absolute;
    left: 0px;
    margin: 0;
    padding: 0px 40px;
    width: calc(100% - 320px);
    height: 100%;
    overflow-y: none;
    background-color: #fff;
    -webkit-transition: all .20s ease;
    -moz-transition: all .20s ease;
    -o-transition: all .20s ease;
    transition: all .20s ease;
}

#header {
    display: block;
    position: fixed;
    left: 330px;
    width: 100%;
    z-index: 999;
}

#fullPage {
    display: inline-block;
    margin: 10px 20px;
    padding: 8px 10px;
    color: #fff;
    border-radius: 100%;
    background-color: #cc203d;
    text-align: center;
}

#contentWrapper {
    display: block;
    position: relative;
    margin: 70px auto;
    width: 100%;
    height: 100%;
    max-width: 980px;
}
img {
    max-width: 100%;
    height: auto;
    width: auto\9;  ie8 
}

/*#wrapper{margin: 0 auto; max-width: 1280px; width: 90%; padding: 0 auto;}*/

article {
    margin-bottom: 20px;
    color: #1e1e1e;
    font-family: sans-serif;
    font-size: 1em;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

section {
    padding: 10px;
}

.article-header {
    padding: 10px;
    color: #fff;
    font-family: sans-serif;
    font-size: 1.5em;
    text-align: left;
    background-color: #2DCC70;
}

#showCase, #showCase section, #showCase section a {
    display: inline-block;
    padding: 10px;
    vertical-align: top;
    color: #1e1e1e;
    font-family: sans-serif;
    font-size: 1em;
    text-align: center;
    text-decoration: none;
    -webkit-transition: all .20s ease;
    -moz-transition: all .20s ease;
    -o-transition: all .20s ease;
    transition: all .20s ease;
}

#showCase {
    padding: 0;
}

#showCase section a {
    box-shadow: inset 0px -2px #2DCC70;
}

#showCase section a:hover {
    color: #fff;
    box-shadow: inset 0px -50px #2DCC70;
}

#social {
    text-align: center;
}

#social a {
    display: inline-block;
    width: 60px;
    height: 60px;
    box-shadow: inset 0px 0px;
}

#social a:hover {
    box-shadow: inset 0px 0px;
}

#social a img {
    max-width: 100%;
}

.full-page {
    left: 0 !important;
    width: 100% !important;
}


.pagina {

    width: 100%;
    display: table;
    padding: 0px;
}
.titulo {
    font-size: 46px;
    font-weight: 400
}
.corpo {
    margin: 30px 0 0 0;
    width: 100%;
    display: table;
    padding: 0px;
}
hr {
    border: solid 5px #e6e6e7
}

.box1 {
    width: 48%;
    display: table;
    float: left;

}
.box2 {
    width: 48%;
    display: table;
    float: right;
}